.profile-experience-parent{
    margin-top: 3rem;

    .content{
        display: flex;
        flex-direction: column;
        
        .content-header{

            p{
                margin-top: 0.5rem;
                font-size: 14px;
                color: #9b9ba4;
            }
        }

        .experience-section{
            margin-top: 3.5rem;
            margin-bottom: 1.5rem;
            display: flex;
            flex-direction: column;
            padding-left: 0.7rem;

            .experience{
                // border-left: 1px solid #313134;
                padding: 0rem 0rem 3rem 1.5rem;
                font-size: 12px;
                position: relative;
                display: flex;
                flex-direction: column;

                &::before {
                    content: "";
                    position: absolute;
                    left: -0.05rem;
                    top: 0.65rem;
                    height: calc(100% - 0.10rem); // adjust this to match icon alignment
                    border-left: 1px solid #313134;
                }

                .green-dot{
                    position: absolute;
                    left: -0.5rem;
                    top: 0.65rem;
                    background-color: #44c86b;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                }

                .top{
                    flex: 4;
                    display: flex;
                    gap: 1rem;
                    align-items: start;
                    justify-content: start;
                    position: a;

                    img {
                        width: 2.5rem;
                        height: 2.5rem;
                        padding: 0.25rem;
                        object-fit: contain;      // keeps image proportions
                        aspect-ratio: 1 / 1;      // optional, enforces square layout without distortion
                        background-color: #1d1b1f;
                        border-radius: 5px;
                    }

                    h4{
                        font-size: 13px;
                        // color: #d9d9ec;
                    }

                    p{
                        font-size: 14px;
                    }
                }

                .bottom{
                    flex: 6;
                    margin-top: 1rem;
                    margin-left: 3.5rem;
                    display: flex;
                    gap: 0.5rem;
                    flex-wrap: wrap;

                    .skill{
                        border: 1px solid #313134;
                        background-color: #18181a;
                        padding: 0.1rem 0.9rem 0.24rem 0.9rem;
                        border-radius: 5px;
                        color: #9b9ba4;

                        cursor: pointer;

                        &:hover{
                            background-color: #272729;
                            transition: all 0.3s ease;
                        }
                    }

                    p{
                        font-size: 12px;
                    }
                }
            }

            .last{
                padding-left: 0.7rem;
                padding: 0rem 0rem 0rem 2rem;
            }
        }
    }
}

.date{
    font-size: 12px !important;
}