@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Changa+One:ital@0;1&family=Fira+Code:wght@300..700&family=Paytone+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);

  &:hover{
    color: #46cb77;
    transition: all 0.3s ease;
  }
}

.app-parent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #18181a;
}

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  background-color: #18181a;
  width: 45rem;
  color: rgba(255, 255, 255, 0.87);
  min-height: 100vh; // full height of the screen
}

.content{
  width: 100%;
  flex: 1;
}

.green{
  color: #46cb77 !important;
}

p{
  font-size: 15px;
  color: #9b9ba4;
}

.hover{
  cursor: pointer;
}

.tooltip {
  position: fixed;
  background-color: #1b1b1b;
  color: #d1d5db;
  padding: 0.5rem 0.7rem 0.4rem 0.7rem; // 1rem top, 0rem right, 0rem bottom, 0rem left
  border-radius: 5px;
  font-size: 11px;
  pointer-events: none; // so it doesn't block mouse movement
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  transition: opacity 0.1s ease;
  font-family: 'Fira Code', Courier, monospace;
}

.about-links{
  display: flex;
  gap: 0.5rem;

  .about-link{
    font-size: 15px;
    background-color: #1b1b1b;
    border: 1px solid #313134;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.3rem 0.7rem 0.3rem 0.7rem; // 1rem top, 0rem right, 0rem bottom, 0rem left
    font-size: 13px;

    cursor: pointer;
  }

  .about-copied{
      font-size: 15px;
      background-color: #1b1b1b;
      border: 1px solid #313134;
      border-radius: 5px;
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 0.6rem;
      padding: 0.3rem 0.7rem 0.3rem 0.7rem; // 1rem top, 0rem right, 0rem bottom, 0rem left
      font-size: 13px;

      cursor: pointer;
  }
}

.skill-icon{
  width: 15px;
  height: 15px;
}

.content{
  p{
    font-size: 14px;
  }
}