.github-contributions-parent{
    margin-top: 3rem;

    h5{
        margin-bottom: 1rem;
    }

    .contributions-container{
        width: 100%;
        padding: 1rem;
        background-color: #1b1b1b;
        border-radius: 7px;
        border: 1px solid #313134;

        img{
            width: 100%;
            height: auto;
            border: 0px;
        }
    }
}