.spotify-parent{
    margin-top: 3rem;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        button{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            background: none;
            border: none;
            color: #9b9ba4;
            transition: 0.3s ease;

            &:hover{
                color: #cfcfdb;
                cursor: pointer;
            }
        }

        .link-refresh{
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }

    .spotify-content{
        margin-top: 1rem;
        background: #1b1b1c;
        border: 1px solid #313134;
        padding: 1rem;
        font-size: 13px;
        border-radius: 7px;
        color: #ffffff;
        transition: transform 0.3s ease;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 1rem;

        .left{
            display: flex;
            align-items: stretch;
            gap: 1rem;
            height: 100%;

            .song-cover {
                width: 3.5rem;
                height: 3.5rem;
                object-fit: contain;      
                aspect-ratio: 1 / 1;      
                background-color: #424242;
                border-radius: 5px;
                border: 0px;
            }

            .song-info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-self: stretch;
                height: 100%;

                p{
                    font-size: 13px;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            gap: 0.5rem;
            color: #9b9ba4;

            .played {
                width: 50%;
                overflow: hidden;
                white-space: nowrap;

                .marquee-container {
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                }

                .marquee-text {
                    display: inline-block;
                    white-space: nowrap;
                    animation: scroll-loop 5s linear infinite;
                }

                @keyframes scroll-loop {
                    0% {
                        transform: translateX(0%);
                    }
                    100% {
                        transform: translateX(-33.70%); // adjust based on how many times you repeat the text
                    }
                }
            }

            svg{
                color: #46cb77;
                font-size: 1.2rem;
            }
        }
    }
}

@keyframes scroll-text {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.spotify-content:hover .marquee-text {
    animation-play-state: paused !important;
}

.played{
    font-size: 14px !important;
}

.not-played{
    font-size: 14px !important;
}